.loginHead{
    background-color: #3F5F73;       
  }
  
  .loginHead strong {
    color: white;
    font-size: 2rem;
  }
  
  #loginButton {
    background-color: #3F5F73;
  }
  
  #email {
    width: 100%;
    
  }
  
  #password {
    width: 100%;
  }
  #loginButton {
    width: auto;
  }
  #singupLink {
    color:rgb(0, 140, 255);
    text-decoration:none;
  }
  .loginPage{
    background-color: #c7d3e2;
  }